.carre {
  display: inline-block;
  width:200px;
  height:200px;
  background-color:#ccc;
  cursor:pointer;
}

.bleu {
  background-color:blue;
}
.rouge {
  background-color:red;
}
.vert {
  background-color:green;
}
.jaune {
  background-color:yellow;
}